body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */
/* HOME PAGE */
#Description{
  background-color: gray;
  margin-top: 25px;
}
#Description p {
  padding: 10px;
}
#main-content h2{
  margin-top: -5px;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 992px){
  /* Header */
  #header-nav {
  height: 80px;
  position: relative;
}
.navbar-brand {
  padding-top: 25px;
  position: absolute;
  top: 0;
  left: 15px;
}
  /* End Header */
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #header-nav {
  height: 80px;
  position: relative;
}
.navbar-brand {
  padding-top: 25px;
  position: absolute;
  top: 0;
  left: 15px;
}
  /* End Header */
}
/********** Small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    margin-left:15px; 
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */
}
